:root {
    --color-principal:#ffff;
    --color-secundario:#1E1E1E;
    --color-terciario:#000000;
    --color-cuarto:#041336;
    --font-principal: 'Prata', serif;
  }

  body {
    width: 100vw;
    background-color: var(--color-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-secundaria);
    overflow-x: hidden;

  }

/* Estilos para la flecha (colócalos aquí o en un archivo de estilos externo) */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  #scroll-to-top img {
    width: 40px; /* Ajusta el tamaño según tu ícono */
    height: 40px;
    
   
  cursor: pointer;
  }

/* HEADER */

  header {
      width: 100vw;
      height: 100vh;
      display: flex;
      max-width: 380px;
      margin: auto;
      flex-direction: column;
      text-align: center;
      padding: 0PX 0 0 0;
      justify-content: start;
      align-items: center;
     
  }

.informacionbanner {
   
    width: 100%;
    height: 100vh;
    background-image: url(./img/nombre.png);
    background-size: cover;
    display: flex;
    animation-name: texto;
    animation-duration: 8s;
}
@keyframes texto {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/* TODO CONTADOR */
.contador {
    display: flex;
    color: var(--color-secundario);
    background-color: var(--color-principal);
    justify-content: center;
    padding: 0px 0 30px 0;
    margin: 0;
  }

.bloque {
text-align: center;
margin: 0 10px; /* Añadido espacio entre bloques para mejorar la apariencia */
}

.numero {
font-size: 3em;
font-weight: 400;
}

.etiqueta {
font-size: 1.3em;
font-family: var(--font-principal);
}


/* TODO AUIDO */
.audiodiv {
    
    width: 64px;
    height: 64px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--color-secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: bounce;
    animation-duration:6s;
    animation-iteration-count:300ms;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.audiodiv img {
    padding: 2px 0 0 0;
    margin: 0;
    width: 60px;
    height: 60px;
}
.play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Ocultar los controles nativos del audio */
audio::-webkit-media-controls {
    display:none !important;
}

audio::-webkit-media-controls-panel {
    display:none !important;
}

audio::-webkit-media-controls-play-button {
    display:none !important;
}

audio::-webkit-media-controls-start-playback-button {
    display:none !important;
}

audio::-webkit-media-controls-enclosure {
    display:none !important;
}

audio::-webkit-media-controls-current-time-display {
    display:none !important;
}

/* BOTONES */

.boton {
    margin: 0;
    color: var(--color-secundario);
    background-color: var(--color-principal);
    border: 1px solid var(--color-secundario);
    padding: 10px 30PX;
    text-align: center;
    text-decoration: none;
  }
  .boton:hover {
    border: 1px solid var(--color-secundario);
    background-color: var(--color-secundario);
    color: var(--color-principal);
    padding: 10px 30PX;
    text-decoration: none;
    margin-top:0px;
  }

  .boton2 {
    width: 120px;
    margin: 0;
    color: var(--color-cuarto);
    background-color: var(--color-principal);
    border: 1px solid var(--color-secundario);
    padding: 10px 30PX;
    text-align: center;
    text-decoration: none;
    z-index: 1;
  }
  .boton2:hover {
    border: 1px solid var(--color-principal);
    background-color: var(--color-terciario);
    color: var(--color-principal);
    padding: 10px 30PX;
    text-decoration: none;
    margin-top:0px;
  }
  .boton3 {
    width: 120px;
    margin: 0;
    color: var(--color-cuarto);
    background-color: var(--color-principal);
    border: 1px solid var(--color-cuarto);
    padding: 10px 30PX;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    
  }
  .boton3:hover {
    border: 1px solid var(--color-principal);
    background-color: var(--color-cuarto);
    color: var(--color-principal);
    padding: 10px 30PX;
    text-decoration: none;
    margin-top:0px;
  }


/* COUNTDOWN */
  .title {
    text-align: center;
    font-family: var(--font-principal);
    color: var(--color-secundario);
    background-color: var(--color-principal);
    margin: 0;
    
}
  .title h2 {
    margin: 0;
    padding: 10px;
}

 #cuenta {
     width: 100vw;
     display: flex;
     justify-content: center;
     margin: 0px;
     padding: 0px 0;
     background-color: var(--color-principal);
     gap: 0px;

 }

 .simply-section {
    font-family: var(--font-principal);
     color: var(--color-secundario);
     width: 20vw;
     
     max-width: 100px;
     border-radius: 2px;
     max-height: 100px;
     height: 20vw;
     margin: 0 5px;
     padding: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;

 }
 .simply-amount {
     display: block;
     font-size: 2.6rem;
     font-weight: normal;
 }
.simply-word {
    font-size: 1.1rem;
}


.lovestory {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lovestory .img1 {
    width: 220px;
    position: relative;
    margin-top: 20px;
    overflow-x: hidden;
    
}
.lovestory p {
    text-align: center;
    padding: 0px  40px 0 40px;
    font-size: 1.2rem;
    line-height: 140%;
    max-width: 600px;

}
.lovestory img {
    width: 80px;
}

/* DETAILS */

.details {
    margin: 20px 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details .deco {
    width: 100vw;
    height: 100px;
}

.details .deco2 {
    width: 100vw;
    height: 100px;
}
.deco1 {
    width: 50vw;
    margin: 10px 0;
    height: 100px;
    border-right:1px solid var(--color-secundario);

}
.deco2 {
    display: none;
}
.details .botones {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.details p {
    margin: 0;
    text-align: center;
    padding: 10px  40px 10px 40px;
    font-size: 1.2rem;
    line-height: 140%;
    max-width: 600px;
}
.details .iconss {
    height: 50px;
}
.details .img1 {
    width: 220px;
    position: relative;
    margin-bottom: 20px;
    overflow-x: hidden;
    
}

.gift-block {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.gift-box .button {
    width:180px;
    margin: auto;
    padding: 8px 8px;
    border: 1px solid var(--color-secundario);
    background-color: var(--color-secundario);
    color: var(--color-principal);
   
  }

.gift-box .button1 {
    width:180px;
    margin: auto;
    padding: 8px 8px;
    border: 1px solid var(--color-secundario);
    background-color: var(--color-secundario);
    color: var(--color-principal);
    
  }


  .galeria {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.galeria img {
    width: 25vw;
}
.dresscode {
    width: 100vw;
    height: auto;
    background-color: var(--color-cuarto);
    color: var(--color-principal);
    text-align: center;
    font-family: var(--font-principal);
    font-size: 1.2rem;
    padding: 20px 0;
}
.dresscode img {
    height: 50px;
}
.dresscode .info {
    
    font-size: 1rem;
    line-height: 160%;
    max-width: 600px;
    padding: 0;
    margin: auto;
}
/*TIMELINE*/
.timeline {
    margin: 10px 0 0 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    

}
.timeline img {
    width: 220px;
    padding: auto;
    margin: auto;
}
.timeline .iconos {
    width: 100vw;
    height: auto;
    display: flex;
    text-align: center;
    gap: 10px;
}
.iconos-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.iconos-block img {
    width: 60px;
}
.iconos-block p {
    padding: 0;
    margin: 0;
}

.rrss {
    width: 100vw;
    height: auto;
    display: flex;
    padding: 10px 0 20px 0 ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-principal);
    background-color: var(--color-cuarto);
    gap: 0px;
}
.rrss .block {
    max-width: 500px;
    text-align: center;
    width: 100vw;
    height:auto;

}
.block .botones {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.rrss p {
    margin: 0;
    text-align: center;
    padding: 10px  40px 10px 40px;
    font-size: 1.2rem;
    line-height: 140%;
    max-width: 600px;
}
.rrss h2 {
    padding: 0 0 0 0px;
    font-size: 7rem;
    font-family: var(--font-principal);
    line-height: 80%;
    text-align: center;
}

.end {
    background-color: var(--color-cuarto);
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 20px 0;
    color: var(--color-principal);
    font-family: var(--font-principal);
    font-size: 1.3rem;
}
.end img {
    width: 180px;
    padding: 0;
}
.end p {
    padding: 0;
    margin: 0;
}


footer {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    padding: 40px 0;
    flex-direction: column;
    text-align: center;
}
footer .logo {
    width: 40px;
    padding: 0;
    margin: 0;
}
footer .contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
footer img {
    width: 60px;
}
.contenido ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.contenido a {
    color: var(--color-principal);
  }

.contenido a:hover {
    color: #ffffff;
  }
  @media screen and (max-width: 768px) {
    header .date {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    header img {
        width: 80vw;
    }
.details {
        margin: 60px 0;
    }
.deco1 {
    width: 50vw;
    margin: 10px 0;
    height: 100px;
    border-right: 1px solid var(--color-secundario);

}
.galeria {
    width: 100%;
    display: grid;
    grid-template-columns:1fr; 
}
.f2, .f3, .f4 {
    display: none;
}
.galeria img {
    width: 100vw;
}
.gift-block {
    flex-direction: column;
}
.deco2 {
    display: block;
}

.details .img1 {
    width: 160px;

}

.details .botones {
    display: flex;
    flex-direction: column;
}
.timeline .iconos {
    flex-direction: column;
    
}

.rrss {
    flex-direction: column;
  
}

.block .botones {
    flex-direction: column;
}

  }